[project]
	description = FreeMind with better version control support
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jiang Xin (jiangxin)
[access "refs/for/refs/*"]
	read = group user/Jiang Xin (jiangxin)
	push = group user/Jiang Xin (jiangxin)
	label-Code-Review = -2..+2 group user/Jiang Xin (jiangxin)
	label-Verified = -1..+1 group user/Jiang Xin (jiangxin)
	rebase = group user/Jiang Xin (jiangxin)
	removeReviewer = group user/Jiang Xin (jiangxin)
	submit = group user/Jiang Xin (jiangxin)
[access "refs/heads/*"]
	read = group user/Jiang Xin (jiangxin)
	create = group user/Jiang Xin (jiangxin)
	push = +force group user/Jiang Xin (jiangxin)
	pushMerge = group user/Jiang Xin (jiangxin)
[access "refs/tags/*"]
	push = +force group user/Jiang Xin (jiangxin)
	pushTag = group user/Jiang Xin (jiangxin)
	pushSignedTag = group user/Jiang Xin (jiangxin)
