#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

FREEMINDROOT=$(CURDIR)/upstream
ANT = ant
# DO NOT use "sed -i -e ...", because "-i" not compatible on Mac
SED = sed
#docdir=file:/usr/share/doc/freemind -Dpropfolder=.freemind -Dbrowser_other=sensible-browser

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp


build: configure build-stamp build-hacked-stamp

build-stamp: configure-stamp
	dh_testdir

	# Add here commands to compile the package.
	cd $(FREEMINDROOT)/freemind && $(ANT) dist
	mv $(FREEMINDROOT)/bin/dist/lib/freemind.jar $(FREEMINDROOT)/bin/dist/lib/freemind.vanilla.jar

	touch build-stamp

eol-format-stamp:
	(cd $(FREEMINDROOT); for i in \
		freemind/build.xml \
		freemind/freemind.properties \
		freemind/freemind.bat \
		freemind/freemind/controller/Controller.java \
		freemind/freemind/main/FreeMind.java \
		freemind/freemind/main/Tools.java \
		freemind/freemind/main/XMLElement.java \
		freemind/freemind/modes/mindmapmode/MindMapMapModel.java \
		freemind/freemind/modes/MindMapNode.java \
		freemind/freemind/modes/NodeAdapter.java \
		freemind/freemind.sh \
		; do \
			fromdos $$i; \
			$(SED) -e 's/\r$$//g' -e 's/\r/\n/g' $$i > $$i.bak; \
			mv $$i.bak $$i; \
	done)
	# fix NO EOL of file: freemind.properties
	#echo >> freemind.properties

	touch eol-format-stamp

#build-hacked-stamp: build-stamp eol-format-stamp patch oemrevpatch
build-hacked-stamp: build-stamp patch
	dh_testdir

	cd $(FREEMINDROOT)/freemind && $(ANT) -Dlight_bulb=yes dist
	# cd $(FREEMINDROOT)/freemind && $(ANT) $(ANTFLAGS) doc

	# create freemind.vanilla.sh here, it is also patched.
	cp $(FREEMINDROOT)/bin/dist/freemind.sh $(FREEMINDROOT)/bin/dist/freemind.vanilla.sh
	$(SED) -e 's/freemind.jar/freemind.vanilla.jar/g' \
		$(FREEMINDROOT)/bin/dist/freemind.vanilla.sh > \
		$(FREEMINDROOT)/bin/dist/freemind.vanilla.sh.bak
	mv $(FREEMINDROOT)/bin/dist/freemind.vanilla.sh.bak \
		$(FREEMINDROOT)/bin/dist/freemind.vanilla.sh

	touch build-hacked-stamp

clean: oemrevunpatch unpatch
	dh_testdir
	dh_testroot
	-rm -f build-stamp build-hacked-stamp configure-stamp eol-format-stamp \
		debian/files debian/ossxp-freemind.debhelper.log \
		debian/ossxp-freemind.postinst.debhelper \
		debian/ossxp-freemind.postrm.debhelper
	-rm -rf debian/ossxp-freemind

	# Add here commands to clean up after the build process.
	cd $(FREEMINDROOT)/freemind && $(ANT) clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/freemind.
	# $(MAKE) install DESTDIR=$(CURDIR)/debian/freemind
	install -m 755 $(FREEMINDROOT)/bin/dist/freemind.sh $(FREEMINDROOT)/bin/dist/freemind.vanilla.sh $(CURDIR)/debian/ossxp-freemind/opt/freemind/

	echo "#export PATH=$$PATH:/usr/lib/jdk1.6.0/bin" >  $(CURDIR)/debian/ossxp-freemind/opt/freemind/conf/freemindrc
	echo "#export JAVA_HOME=/usr/lib/jdk1.6.0/"     >> $(CURDIR)/debian/ossxp-freemind/opt/freemind/conf/freemindrc

	convert $(FREEMINDROOT)/freemind/images/FreeMindWindowIcon.png $(CURDIR)/debian/ossxp-freemind/usr/share/pixmaps/ossxp-freemind.xpm


	for pkg in `awk '/^Package:/ { print $$2 }' $(CURDIR)/debian/control`; do \
		find $(CURDIR)/debian/$$pkg/ \( -name .svn -o -name "*~" \) -exec rm -rf {} + ; \
		mkdir -p $(CURDIR)/debian/$$pkg/usr/share/lintian/overrides/; \
		echo "dir-or-file-in-opt"  >> $(CURDIR)/debian/$$pkg/usr/share/lintian/overrides/$$pkg ; \
		echo "file-in-unusual-dir" >> $(CURDIR)/debian/$$pkg/usr/share/lintian/overrides/$$pkg ; \
		mkdir -p $(CURDIR)/debian/$$pkg/usr/share/linda/overrides/; \
		echo "Tag: file-in-opt"    >> $(CURDIR)/debian/$$pkg/usr/share/linda/overrides/$$pkg ; \
	done

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
#	dh_installexamples
	dh_install
	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
#	dh_strip
	dh_compress -X.mm
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

OEMREV=`head -1 $(CURDIR)/debian/changelog | $(SED) -e "s/.*(.*-\([^-~+]*\).*).*/\1/"`
oemrevpatch:
	echo "OEM Revision Patch"
	@$(SED) -e "/public static final String HACKEDVERSION/ s/<REVISION>/r$(OEMREV)/" \
	    $(FREEMINDROOT)/freemind/freemind/main/FreeMind.java > \
	    $(FREEMINDROOT)/freemind/freemind/main/FreeMind.java.bak
	mv $(FREEMINDROOT)/freemind/freemind/main/FreeMind.java.bak \
		$(FREEMINDROOT)/freemind/freemind/main/FreeMind.java

oemrevunpatch:
	echo "OEM Revision Unpatch"
	@$(SED) -e "/public static final String HACKEDVERSION/ s/r$(OEMREV)/<REVISION>/" \
		$(FREEMINDROOT)/freemind/freemind/main/FreeMind.java > \
		$(FREEMINDROOT)/freemind/freemind/main/FreeMind.java.bak
	mv $(FREEMINDROOT)/freemind/freemind/main/FreeMind.java.bak \
		$(FREEMINDROOT)/freemind/freemind/main/FreeMind.java

binary: binary-indep binary-arch windows

windows: post
post:
	cd $(FREEMINDROOT)/freemind && $(ANT) post

# QUILT_STAMPFN: stamp file to use
QUILT_STAMPFN	= debian/stamp-patched

# QUILT_PATCH_DIR: where the patches live
QUILT_PATCH_DIR = ../debian/patches

patch: eol-format-stamp $(QUILT_STAMPFN) oemrevpatch
$(QUILT_STAMPFN):
	@# quilt exits with 2 as return when there was nothing to do.
	@# That's not an error here
	(cd $(FREEMINDROOT); QUILT_PATCHES=$(QUILT_PATCH_DIR) \
		quilt --quiltrc /dev/null push -a || test $$? = 2)
	# copy saxon.jar and FreeMind.vanilla.exe
	cp -Rf $(CURDIR)/debian/freemind/* $(FREEMINDROOT)/freemind/
	touch $(QUILT_STAMPFN)

unpatch:
	(cd $(FREEMINDROOT); QUILT_PATCHES=$(QUILT_PATCH_DIR) \
		quilt --quiltrc /dev/null pop -a -R || test $$? = 2)
	rm -rf $(FREEMINDROOT)/.pc $(QUILT_STAMPFN)

debian/patches/: debian/patches
debian/patches:
	(cd $(FREEMINDROOT); LANGUAGE=C tg export --all --quilt ../debian/patches.new)
	rm -rf debian/patches && mv debian/patches.new debian/patches
	cd debian && git status || true

.PHONY: build clean binary-indep binary-arch binary install configure debian/patches windows post

# vim: noet
