body {
  background: #eeeee8;
  margin: 1em 1em 1em 1em;
  font-family: sans-serif; }

div.frame {
  border-style: none;
  border-width: thin;
  background: #ddddd6;
  margin: 0.2em 0.2em 0.2em 0.2em;
  padding: 1em 1em 1em 1em; }
  
em {
  color: green; }

A:link.toc1 {text-decoration: none; color: green;}
A:visited.toc1 {text-decoration: none; color: green;}
A:active.toc1 {text-decoration: none}
A:hover.toc1 {text-decoration: underline; color: maroon;}

A:link.toc2 {text-decoration: none; color: black;}
A:visited.toc2 {text-decoration: none; color: black;}
A:active.toc2 {text-decoration: none}
A:hover.toc2 {text-decoration: underline; color: maroon;}

div.toc2 { font-size: x-small;  }

span.username { font-style: italic; color: #669900; }

h1 {
  color: #447744;
  text-align: center;
  background: #ddddc0;
  padding: 0.5em 0.5em 0.5em 0.5em; }
  
h3 {color: green; background: #e0e0d0; }
